<h1>Show Vehicle</h1>


      <p>
      <%= @vehicle.id%> |
      <%= @vehicle.brand%> |
      <%= @vehicle.model%> |
      <%= @vehicle.year%> |
      <%= @vehicle.plate%> |
      <%= @vehicle.kind%> | 
      <p>

